body{
    background-image: url(particles.png);
}

#frontpage {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
        "a a a a a a a"
        ". b b b b b ."
        ". . c e d . ."
        ". . . . . . ."
        ". . . . . . ."
        "f f f f f f f";

}

#gitpage {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
        "a a a a a a a"
        ". b b b b b ."
        ". . c e d . ."
        ". . . . . . ."
        ". . . . . . ."
        "f f f f f f f";

}

#githubpage {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
        "a a a a a a a"
        ". b b b b b ."
        ". . c e d . ."
        ". . . . . . ."
        ". . . . . . ."
        "f f f f f f f";

}

#title {
    grid-area: a;
    text-align: center;
    font-size: 2em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

/*Styling for the description section that covers all explanation for Git and Github */
#description {
    grid-area: b;
    text-align: center;
    border-radius: 25px;
    background-color: rgb(100, 20, 138);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#gitdescription {
    background-color: rgb(100, 20, 138);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#githubdescription {
    background-color: rgb(100, 20, 138);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#gitbox {
    grid-area: c;


}

#githubbox {
    grid-area: d;


}

#screenshot {
    grid-area: e;
    text-align: center;
    font-size: 2em;
    font-weight: bold;
}

#copyright {
    grid-area: f;
    text-align: center;
    font-weight: bolder;


}

@media (min-width: 400px) {

    body {
        width: 100%;
        height: 100%;
    }


}